// Colors
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$white: #ffffff;
$black: #000000;
$grey: #eaeaea;
$grey-light: #f6f6f6;
$grey-dark: #353535;

// Fonts
$title: "Shrikhand", cursive;
$text: "Roboto", sans-serif;

// Breakpoints
$hands: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$large: 1400px;
